.grid_movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80d4f6;
    height: 50vh;
    width: 25vw;
    border: 1px solid navy;
    border-radius: 5%;
}

.poster {
    height: 35vh;
    width: 15vw;
    border: 1px solid navy;
}