.grid_movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2.6vh;
    align-items: center;
    background-color: #80d4f6;
    height: 50vh;
    width: 25vw;
    border: 1px solid navy;
    border-radius: 5%;
}

.poster {
    height: 35vh;
    width: 15vw;
    border: 1px solid navy;
}

.grid_movie_title:hover {
    color: white;
    font-weight: 700;
}

/* @media (max-width: 786px){
    .poster{

    }
} */