
@keyframes slideInLeft {
    from {transform: translatex(-50vw) rotate(0deg);}
    to {transform: translatex(0vw) rotate(360deg);}
}

@keyframes slideInRight {
    from {transform: translatex(50vw);}
    to {transform: translatex(0vw);}
}


.handsome_mf {
    margin-top: 2rem;
    border-radius: 50%;
    animation-name: slideInLeft;
    animation-duration: 1s;
    height: 65vh;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.primary_text_box {
    display: flex;
    flex-direction: column;
    animation-name: slideInRight;
    animation-duration: 1s;
}

.links {
    display: flex;
    justify-content: center;
}

.external_link {
    height: 7.5vh;
    width: 2.5vw;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
    transition-delay: 0s;

}

.external_link:hover {
    transform: translateY(-10px);
}

.intro_section {
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
    width: 100vw;
    align-items: center;
    background-color: lightblue;
}

.intro_section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: #2f3d53;
}

.movie_poster {
    height: 80vh;
    width: 33vw;
}

.intro_scroll_link {
    font-size: 4vh;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
    transition-delay: 0s;
}

.intro_scroll_link:hover {
    color:  navy;
    transform: translateY(-10px);

}

.intro_section2_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.6vh;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; 
    transition-delay: 0s;
}

.intro_section2_text_box:hover {
    transform: translateY(-10px);
}

.intro_section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ddeaee;
}

.movie_posters_box_intro_tertiary {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 80vh;
    width: 100vw;
}

.tertiary_intro_movie_poster {
    height: 80vh;
    width: 25vw;
    border: 1px solid black;
}

.tertiary_intro_movie_poster:hover {
    border: 1px solid white;
}


.tertiary_link:hover{
    color: #2f3d53;
}

.tertiary_link {
    font-size: 3.2vh;
}