.movie_formatted_for_ranking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    padding: 10vh;
    border: 1px solid black;
    background-color: #80d4f6;
}

.poster {
    height: 100%;
    width: 10vw;
    border-style: groove;
    border: 1px solid black;
}

.title:hover {
    color: white;
    font-weight: 700;
}
