.rankings_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background-color: #ddeaee;
}

.rankings_greeting {
    margin-top: -5vh;
    font-size: 4vh;
}