.rankings_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background-color: silver;
}

.rankings_greeting{
    margin-top: -5vh;
}